PROJECT_NAME="Git daily"
GITHUB_FRONTEND_URL=https://
GITHUB_BACKEND_URL=https://
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_API_KEY=<your-api-key>
API_SECRET_KEY=<your-api-secret-key>

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=<your-mapbox-access-token>

# Storage
NEXT_BLOB_STORAGE_PUBLIC_URL=<your-next-blob-url>

## Test Admin Credentials ( replace with actual admin credentials, DO NOT COMMIT )
TEST_ADMIN_EMAIL=<replace-with-your-email>
TEST_ADMIN_PASSWORD=<replace-with-your-password>
TEST_USER_EMAIL=<replace-with-your-email>
TEST_USER_PASSWORD=<replace-with-your-password>
